/* Header box styling */
.headerBox {
  display: flex;
  justify-content: center;
  position: relative;
  top: 2rem;
}

header {
  background: rgba(255, 255, 255, 0.04);
  display: flex;
  position: relative;
  width: 75vw;
  height: 8rem;
  border-radius: 2rem;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Logo styling */
.logoLink {
  display: inline-block;
  position: relative;
  align-content: center;
  top: -.75rem;
  padding-left: 30px;
}

.logo {
  height: 9rem;
  width: 9rem;
  filter: drop-shadow(3px 3px 2px var(--black));
  &:hover {
    filter: drop-shadow(3px 3px 2px var(--black)) drop-shadow(0px 0px 5px var(--pink));  
  }
}