/* Footer box styling */
.footerBox {
  display: flex;
  position: relative;
  justify-content: center;
}

footer {
  display: flex;
  position: relative;
  width: 100vw;
  height: 8vh;
  align-items: center;
  justify-content: space-around;

}

/* Image styling */
.profileLink img {
  margin: 0 5rem;
  filter: drop-shadow(3px 3px 2px var(--black));
  &:hover {
    filter: drop-shadow(3px 3px 2px var(--black)) drop-shadow(0px 0px 5px var(--pink));  
  }
}
