/* Color theme */
:root {
  --red: #C05746;
  --blue: #17BEBB;
  --black: #2E282A;
  --pink: #DD5092;
  --purple: #7378CC;
}

/* Font theme */
* {
  font-family: "Nunito", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  color: white;
}

/* Body styling */
body {
  background-image: url(./images/blue-pink-background-darker.jpg);
}