/* Color theme */
:root {
  --red: #C05746;
  --blue: #17BEBB;
  --black: #2E282A;
  --pink: #DD5092;
  --purple: rgb(115, 120, 204);
}

/* Font theme */
* {
  font-family: "Nunito", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  color: white;
  letter-spacing: .5px;
}

h1, h2, h3, h4, h5, h6 {
  font-style: italic;
  font-size: 2rem;
  text-shadow: 1px 1px 5px black;
  filter: drop-shadow(3px 3px 2px black);
  -webkit-text-stroke-width: .3px;
  -webkit-text-stroke-color: var(--black);
}

h1 {
  color: var(--red);
  font-size: 2.5rem;
}

h2 {
  color: var(--red);
}

h3 {
  color: var(--purple);
}

h4 {
  color: var(--red);
}

h5 {
  color: var(--red);
  font-size: 1.75rem;
  text-shadow: 1px 1px 2px black;
  line-height: 2;
}

h6 {
  font-family: "Commisioner", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  color: white;
}

p, li {
  font-family: "Commisioner", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.05rem;
  letter-spacing: .25px;
  text-shadow: 1px 1px 2px black;
  filter: drop-shadow(3px 3px 2px var(--black));
}

/* Body styling */
body {
  background-image: url(/images/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pageHeight {
  flex: 1;
  min-height: 78vh;
}

/* Media queries for phone at 576 breakpoint */
@media screen and (max-width: 576px) {
  .navElement {
    font-size: 1.2rem;
  }

  .profileLink img {
    margin: 0 2rem;
  }

  li {
    margin: 1rem 1rem 0 1rem;
  }

  .hfour a {
    font-size: 1.4rem;
  }

  .resume {
    width: 67%;
    padding-bottom: .75rem;
  }

  aside {
    margin-bottom: 2rem;
  }

  .col-5 {
    width: 75%;
  }

  h2 {
    margin-bottom: -1.5rem;
  }

  #flName, #email, #message {
    width: 90%;
  }

  #message {
    height: 12rem;
  }
}

@media screen and (max-width: 340px), (max-height: 700) {
  header {
    width: 90vw;
    height: 20vh;
  }
  
  .logo {
    height: 150px;
    width: 150px;
    filter: drop-shadow(3px 3px 2px var(--black)) drop-shadow(0px 0px 5px var(--pink));
  }

  .logoLink {
    padding-left: 0;
  }

  .tylerImage {
    height: 200px;
    width: 200px;
  }

  nav {
    margin-right: 1rem;
    text-align: center;
  }

  .navElement {
    margin: 0 auto;
  }

  .navElement .active {
    filter: drop-shadow(3px 3px 2px var(--black)) drop-shadow(-1px -1px 3px var(--pink));
  }

  .mainAbout {
    padding: .5rem;
  }

  p {
    font-size: 1rem;
  }

  .aboutMe {
    width: fit-content;
    text-align: center;
  }

  .aboutMe h5 {
    line-height: 1.25;
  }

  .projects {
    width: 100%;
  }

  .projectBox {
    width: 90%;
  }

  .projectImage {
    filter: brightness(50%);
  }

  .hfour, .githubIcon {
    visibility: visible;
    opacity: 1;
  }

  .hfour a {
    font-size: 2rem;
  }

  .px-5 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .col-5 {
    width: 90vw;
  }

  .contactBox {
    width: 90vw;
    padding: 0;
  }

  footer {
    justify-content: center;
    margin: 1rem auto;
  }

  .profileLink {
    width: 100vw;
  }

  .profileLink img {
    margin: 0 1.5rem;
  }
}